hmtl 
	head 
		title=title 
	body
		h1=message
		input(
			label= 'this is a  test'
			type='checkbox'
			name='agreement'
			checked
			)
		input(
			label= 'this is a second test'
			placeholder = 'placeholder'
			type='text'
			name='agreement'
			)
		div esse eh o texto do div
		
		<ul>
			<li>Item A</li>
			<li>Item B</li>
			<li>Item C</li>
		</ul>
			